@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --text-color: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--very-light-gray);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    opacity: 0;
    position: absolute;
}

/* container styling -------------------------------*/
.container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border-radius: .6rem;
}

/* Generals ----------------------------------------*/
section {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    padding: 2.5rem;
    align-items: start;
}

h2 {
    color: var(--text-color);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 2rem;
    font-size: 2.4rem;
}

p {
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button {
    margin-top: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    font-size: 15px;
    border: 3px white solid;
    background-color: white;
    margin-bottom: 1rem;
    transition: all 250ms ease;
    justify-self: end;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white!important;
}

/* sedans styling ----------------------------------*/
.sedans {
    background-color: var(--bright-orange);
}

.sedans button {
    color: var(--bright-orange);
}

/* suvs styling ------------------------------------*/
.suvs {
    background-color: var(--dark-cyan);
}

.suvs button {
    color: var(--dark-cyan);
}

/* luxury styling ----------------------------------*/
.luxury {
    background-color: var(--very-dark-cyan);
}

.luxury button {
    color: var(--very-dark-cyan);
    margin-top: auto;
}

.luxury p {
    margin-bottom: 3rem;
}
/* Media query ------------------------------------*/


@media (max-width: 960px) and (min-width: 638px) {
    .container {
        margin-top: 6rem;
    }

    .sedans {
        border-radius: .6rem 0 0 .6rem;
    }

    .suvs {
        border-radius: 0 .6rem .6rem 0;
    }

    .luxury {
        border-radius: 0 0 .6rem .6rem;
        padding: 3rem;
    }

    .luxury p {
        margin-bottom: 5rem;
    }
}

@media (max-width: 638px) {
    .container {
        margin-top: 6rem;
    }

    .sedans {
        border-radius: .6rem .6rem 0 0;
    }

    .luxury {
        border-radius: 0 0 .6rem .6rem;
        padding: 3rem;
    }

    p {
        margin-bottom: 0;
    }
}